p {
    background-color: hsl(0, 100%, 80%);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: hsl(240, 100%, 50%);
    font-size: 36px;
}

#third{
    font-size: 24px;
}

#fourth {
    background-color: hsl(120, 100%, 70%);
    font-size: 24px;
    font-weight: bold;
}